.main-div {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-around;
}

.indi-div {
    display: flex;
    align-items: center;
    border: 1px lightgray solid;
    width: max-content;
    padding: .5rem;
    margin: .5rem;
}

.indi-div > * {
    padding: .5rem;
} 

.ctrl {
    display: flex;
    background-color: lightgray;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn {
    padding: .5rem;
    border: none;
    background-color: greenyellow;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}